<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Culture" value="sr-Latn"/>-->
    <add key="Culture" value="sr-Latn"/>
    <add key="ArhivaDir" value="D:\Arhiva"/>
    <add key="SlikeDir" value="D:\C#\PROJEKTI\zCarape\Slike"/>
  </appSettings>
  <connectionStrings>
    <add name="BazaPath"
         connectionString="D:\C#\PROJEKTI\zCarape\zBaza.db"/>
  </connectionStrings>

</configuration>